@using BookShop.Models.EF
@model List<User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh sách người dùng
}
<div class="row-fluid sortable ui-sortable">
    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2><i class="halflings-icon user"></i><span class="break"></span>Danh sách người dùng</h2>
        </div>
        <a href="/Admin/User/Create" class="btn btn-primary">Thêm mới người dùng</a>
        <div class="box-content">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                    <thead>
                        <tr>
                            <th>Họ tên</th>
                            <th>Tài khoản</th>
                            <th>Địa chỉ</th>
                            <th>Ngày tháng</th>
                            <th>Tình trạng</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr id="row_@Model[i].ID">
                                <td>
                                    @Model[i].Name
                                </td>
                                <td>
                                    @Model[i].UserName
                                </td>
                                <td>
                                    @Model[i].Address
                                </td>
                                <td>
                                    @Model[i].CreatedDate
                                </td>
                                <td>
                                    <a href="/Admin/User/ChangeStatus/@Model[i].ID">
                                        @if (Model[i].Status.Value == true)
                                        {
                                            <span class="label label-success">Kích hoạt tài khoản</span>
                                        }
                                        else
                                        {
                                            <span class="label label-success">Khóa tài khoản</span>
                                        }
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-info" href="/Admin/User/Edit/@Model[i].ID">
                                        <i class="halflings-icon white edit"></i>
                                    </a>
                                    <a id="deleteUser" class="btn btn-danger" href="#" data-id="@Model[i].ID">
                                        <i class="halflings-icon white trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--/span-->
</div>

@section jsFooter{
    <script src="~/Assets/Admin/js/Controllers/UserController.js"></script>
}
